APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_TIMEZONE=UTC

DB_DSN=mongodb://mongo:27017
DB_DATABASE=npdb-usaf

CACHE_DRIVER=redis
CACHE_PREFIX=usafb-api
QUEUE_DRIVER=redis

REDIS_HOST=redis
REDIS_PORT=6379

ELASTICSEARCH_HOST=elasticsearch

DW_DB_HOST_WRITE=mysql
DW_DB_HOST_READ=mysql
DW_DB_USERNAME=root
DW_DB_PASSWORD=secret
DW_DB_DATABASE=usafb_dw

AWS_KEY=%%%AWS_KEY%%%
AWS_SECRET=%%%AWS_SECRET%%%
AWS_BUCKET_DEFAULT=%%%AWS_BUCKET_DEFAULT%%%
AWS_REGION=%%%AWS_REGION%%%

AWS_COGNITO_VERSION=2016-04-18
AWS_COGNITO_ISSUER=%%%AWS_COGNITO_ISSUER%%%
AWS_COGNITO_USER_POOL_ID=%%%AWS_COGNITO_USER_POOL_ID%%%
AWS_COGNITO_CLIENT_ID=%%%AWS_COGNITO_CLIENT_ID%%%